.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeee;
}

.cv-page {
    width: 55%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 40px 0 40px 0;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* About */

.about-name {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-tektur);
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 1px solid black;
}

.about-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 0;
    text-align: center;
    list-style: none;
    gap: 20px;
    font-family: var(--font-reem);
    font-size: 1rem;
}

.about-contact a {
    text-decoration: none;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
}

.about-github-link {
    background-color: black;
}

.about-github-link-text {
    color: white;
}

.about-linkedin-link {
    background-color: #0077b5;
}

.about-linkedin-link-text {
    color: white;
}

.about-description {
    font-family: var(--font-reem);
    font-size: 1rem;
    text-align: justify;
    padding: 0 10px;
}

.about-description-title {
    font-family: var(--font-tektur);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

/* Eductation */

.education-title {
    font-family: var(--font-tektur);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.education-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.education-list li {
    font-family: var(--font-reem);
    font-size: 1rem;
}

.education-list-institution-title {
    font-weight: 100;
}

.education-list-institution {
    font-weight: 700;
}

.education-list-degree-title {
    font-weight: 100;
}

.education-list-degree {
    font-weight: 700;
}

.education-list-date-title {
    font-weight: 100;
}

.education-list-date {
    font-weight: 700;
}

/* Experience */

.experience-title {
    font-family: var(--font-tektur);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.experience-data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.experience-company-title {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 700;
}

.experience-company {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 100;
}

.experience-dates {
    font-family: var(--font-reem);
}

.experience-position {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 900;
    text-decoration: underline;
}

.experience-position-data {
    display: flex;
    align-items: center;
    gap: 10px;
}

.experience-position-title {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 100;
}

.experience-responsibilities {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 100;
    padding: 0 0 0 50px;
    margin: 0;
    list-style: disc;
}

/* Technical Skills */

.technical-skills-title {
    font-family: var(--font-tektur);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.technical-skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.technical-skill {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 10px;
}

.technical-skill-icon img {
    width: 60px;
    height: 60px;
}

.technical-skill-name {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 100;
}

/* Soft Skills */

.soft-skills-title {
    font-family: var(--font-tektur);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.soft-skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.soft-skill {
    font-family: var(--font-reem);
    font-size: 1rem;
    font-weight: 100;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}