@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reem+Kufi:wght@400..700&family=Tektur:wght@400..900&display=swap');

:root {
    --primary-color: #a9b5df;
    --secondary-color: #7886c7;
    --third-color: #414996;

    --font-reem: "Reem Kufi", serif;
    --font-tektur: "Tektur", serif;
}

body {
    margin: 0;
    padding: 0;
}